
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">@Html.Partial("DetailList.cshtml")</div>
            <div class="col-xs-3 col-xs-offset-1">
                <div class="row">list</div>
                <div class="row">info</div>
            </div>
        </div>
    </div>
   
</body>
</html>
