@model IEnumerable<Praise2017.Controllers.Account>

<div class="PerInfo">
    <h2>PerInfo</h2>
@foreach (var p in Model)
{
    <p>@p.Name <i>--@p.Role</i></p>
    <p>Got @p.Got</p>
    <p>Give @p.Give</p>
}
</div>
