@model IEnumerable<Praise2017.Controllers.Detail>

@{
    ViewBag.Title = "DetailList";
}
    
    @foreach (var p in Model)
    {
        

        <div class="col-md-4 col-sm-6 portfolio-item">

            <div class="portfolio-caption">
                <h4>@p.Name <i>praised</i> @p.ToWho <i>for</i></h4> 
                <p class="text-muted">@p.Descrip</p>
                    
                <p class="text-right text-muted">@p.UpdateDate</p>

            
            </div>
        </div>
    }
       
   




