@model IEnumerable<SayGood.Controllers.Account>


<button class="btn btn-primary btn-xl" type="button" data-toggle="modal" data-target="#makePraise">Make Praise</button>
<div class="modal" id="makePraise">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add member</h4>

            </div>

            <div class="modal-body">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">


                        <div class="col-md-6">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    Praise for
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var q in Model)
            {
                                        <li><a herf="##">@q.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Description" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>

            </div>
        </div>

    </div>

</div>