@model IEnumerable<Praise2017.Controllers.Account>

@foreach (var p in Model)
{
    <div class="col-sm-4">
        <div class="team-member">
            <img src="@Url.Content("~/Content/img/userpic/"+@p.Picture)" class="img-responsive img-circle" alt="">
            <h4>@p.Name</h4>
        </div>
    </div>
}



